<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.howe.ujs.dao.TborderMapper">
  <resultMap id="BaseResultMap" type="cn.howe.ujs.model.Tborder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ReleaseTime" jdbcType="TIMESTAMP" property="releasetime" />
    <result column="DoneTime" jdbcType="TIMESTAMP" property="donetime" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="OrderType" jdbcType="VARCHAR" property="ordertype" />
    <result column="DeviceTypeID" jdbcType="INTEGER" property="devicetypeid" />
    <result column="DeviceID" jdbcType="CHAR" property="deviceid" />
    <result column="ConcentratorID" jdbcType="CHAR" property="concentratorid" />
  </resultMap>
</mapper>