<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.howe.ujs.dao.TbpolicegroupMapper">
  <resultMap id="BaseResultMap" type="map">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="groupId" />
    <result column="GroupName" jdbcType="VARCHAR" property="groupName" />
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT * FROM tbpolicegroup
  </select>
</mapper>